.footer {
    display: flex;
    background-color: #9095A4;
    padding: 2.5rem 0 2.5rem;
    color: #fff;

    &__container {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: space-between;

        @include container;
    }

    &__logo img {
        width: 12.1rem;
        height: 3.8rem;
    }

    &__navbar {
        display: flex;

        @include tablets {
            display: none;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;


    }

    &__list {
        display: flex;
        align-items: center;

        & .nav__item {
            &:last-child {
                font-weight: normal;
            }
        }
    }

    &__contacts {
        display: flex;
        margin-top: 3.7rem;
        font-size: 1.2rem;
        margin-bottom: 3.8rem;

        &--address {
            width: 25%;
            line-height: 1.6;

            @include laptop {
                width: 35%;
            }

            @include phones {
                width: 77%;
            }
        }

        &--connection {
            margin-left: 11.2rem;

            @include phones {
                margin-left: 0;
            }
        }

        &--phone {
            font-weight: 700;
            margin-bottom: .8rem;

            @include phones {
                margin-top: 1.6rem;
            }
        }

        @include phones {
            flex-direction: column;
            font-size: 1.4rem;
            border-top: .05rem solid #fff;
            border-bottom: .05rem solid #fff;
            margin-top: 1.6rem;
            margin-bottom: 1.8rem;
            padding-top: 1.9rem;
            padding-bottom: 2.1rem;
        }
    }

    &__panel {
        column-count: 7;
        line-height: 1.5;
        font-size: 1.2rem;
        padding-bottom: 2rem;
        border-bottom: .05rem solid #fff;

        @include tabletsPro {
            @include tablets {
                column-count: 6;
            }
        }

        @include tablets {
            column-count: 4;
        }

        @include phones {
            column-count: 2;
            border-bottom: 0;
            padding-bottom: 0;
        }
    }

    &__items {
        & a {

            &:hover,
            &:focus {
                color: $red;
            }
        }
    }

    &__bottom {
        margin-top: 1.9rem;
        font-size: 1.2rem;
        color: #EEEFEE;
    }

    &__site-map {

        &:hover,
        &:focus {
            color: $red;
        }
    }

    &__copyright {
        margin-top: 1.2rem;
        margin-bottom: 1.5rem;

        @include phones {
            margin-bottom: 1.2rem;
        }
    }

    &__disclaimer {
        line-height: 1.5;
    }
}

footer a {
    color: #fff;
}