.header {
  &__main {
    min-height: 8vh;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    display: flex;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

    &--logo {
      @include tablets {
        margin-right: 49%;
      }

      @include phones {
        margin-right: 8%;
      }
    }


  }
}

.navbar {
  display: flex;
  // flex: 2 1 20rem;

}

.nav {
  &__list {
    display: flex;
    align-items: center;

    @include tablets {
      position: fixed;
      width: 50%;
      height: 100vh;
      background-color: #fff;
      top: 0;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      right: 100%;
      font-size: 1.4rem;
    }

    @include phones {
      width: 100%;
      height: 100%;
    }

    &--open {
      @include tablets {
        transform: translateX(100%);
      }
    }

  }

  &__item {
    font-size: 1.4rem;


    &:not(:first-child) {
      margin-left: 5.2rem;

      @include tablets {
        margin-left: 0;
      }
    }

    &:nth-child(7) {
      font-weight: bold;
      text-decoration: underline;
    }

    &:nth-child(6) {
      @include button;

      @include tablets {
        display: none;
      }

    }

    & a {

      &:hover,
      &:focus {
        color: $red;
      }
    }

    @include laptop {
      font-size: 1rem;
    }

    @include tablets {
      font-size: 1.4rem;
    }
  }
}

.button {
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $dark-red;
  }

  & a {
    color: #fff;
    text-transform: uppercase;

    &:hover {
      color: #fff;
    }

  }
}

.close-btn {
  display: none;

  @include tablets {
    position: fixed;
    top: 3rem;
    left: -5rem;
    font-size: 4rem;
    display: block;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    z-index: 4;

    &--close {
      left: 33rem;

      @include phones {
        left: 32rem;
      }
      @include phonesSm{
        left: 27rem;
      }
    }
  }
}

.button__sm {
  display: none;

  @include tablets {
    display: block;
    @include button;
  }
}

.burger {
  display: none;

  @include tablets {
    display: block;
    position: relative;
    cursor: pointer;

    & span {
      display: block;
      background: linear-gradient(180deg, #9095A4 0%, #575C6B 100%);
      padding: .2rem 1.5rem;
      margin: .7rem 0;
      border-radius:1rem;
    }
  }
}