#hero {
    min-height: 80rem;
    background: url('./img//bg-shape.png') no-repeat bottom right;
    background-size: cover;
    
    @include desktopHd{
    background: url('./img//bg-shape.png') no-repeat bottom right;
    background-size: cover;
    }
    @include desktopLg {
        background: url('./img/bg-1.png') no-repeat right top;
    }

    @include tabletsPro {
        background: url('./img/bg-1-small.png') no-repeat right top;
    }
}

.hero {
    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        max-width: 160rem;

        @include laptop {
            max-width: 120rem;
        }

        @include tabletsPro {
            max-width: 98rem;
            width: 100%;
        }

        @include tablets {
            max-width: 73.6rem;
        }

        @include phones {
            max-width: 39rem;
        }
    }

    &__desc {
        padding-top: 9rem;
    }

    &__title {
        font-size: 5.4rem;
        line-height: 1.3;

        @include tabletsPro {
            font-size: 3.4rem;
        }

        @include phones {
            font-size: 2.4rem;
            width: 54%;
        }
    }

    &__item {
        font-size: 1.8rem;
        line-height: 1.4;
        margin-top: 2.4rem;
        padding-left: 6rem;
        background: url('./img/icons/flag.svg') no-repeat left .3rem;

        &:nth-child(3) {
            background-position-y: 1.3rem;
        }

        @include phones {
            font-size: 1.4rem;
            padding-left: 3rem;
        }


    }

}

.form {
    position: relative;
    display: flex;
    justify-content: center;
    background: $orange;
    padding: 3.8rem 3.8rem;
    border-radius: 0 1rem 1rem 1rem;
    color: #fff;
    width: 90%;
    margin: 0 auto;
    margin-top: 11rem;
    max-height: 25rem;

    @include tabletsPro {
        flex-direction: column;
        align-items: center;
        max-height: 100%;

    }

    @include phones {
        width: 100%;
        margin-top: 8rem;
    }

    // &::before{
    //     content: 'Vea si califica';
    //     position: absolute;
    //     display: block;
    //     background:$orange;
    //     width: 17.1rem;
    //     height: 7.1rem;
    //     border-radius: 1rem 1rem 0 0;
    //     top:0;
    //     left: 0;

    // }
    &__title {
        position: absolute;
        display: block;
        background: #FF6D00;
        width: 20.1rem;
        height: 7rem;
        border-radius: 1rem 1rem 0 0;
        display: flex;
        align-items: center;
        top: -5rem;
        left: 0;

        & h2 {
            font-size: 1.8rem;
            margin: 0 auto;
        }
    }

    &__guarantee {
        display: flex;
        position: absolute;
        top: -4.5rem;
        left: 19.7rem;

        @include tabletsPro {
            left: -0.3rem;
        }

        @include tablets {
            left: -0.21rem;
        }

        @include phones {
            left: -0.21rem;
        }
    }

    &__chevron {
        display: flex;
        align-items: center;
        width: 51.7rem;
        height: 6rem;
        position: relative;
        background: $violet;
        border-radius: 1rem 0 0 1rem;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px;

        &--sm {
            position: absolute;
            height: 6rem;
            width: 6rem;
            right: -2.7rem;
            top: 0;

            @include phones {
                z-index: -1;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 50%;
                width: 100%;
                background: $violet;
                transform: skew(-50deg, 0deg);

                @include phones {
                    z-index: -1;
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                height: 50%;
                width: 100%;
                background: $violet;
                transform: skew(48deg, 0deg);

                @include phones {
                    z-index: -1;
                }

                // box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
            }
        }

        & span {
            font-size: 4rem;
            margin-left: 1.6rem;

            @include tablets {
                font-size: 2.6rem;
            }

            @include phones {
                font-size: 2rem;
            }
        }

        & p {
            font-size: 1.8rem;
            margin-left: 1rem;
            line-height: 1.2;

            @include tablets {
                font-size: 1.6rem;
            }

            @include phones {
                font-size: .9rem;
            }

        }

        @include tablets {
            width: 44rem;
        }

        @include phones {
            width: 25.7rem;
            z-index: 0;
            box-shadow: none
        }
    }

    &__point {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 13.4rem;
        height: 6rem;
        background: linear-gradient(135deg, #6E61F5 0%, #843CF6 100%);
        margin-left: 9rem;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px;
        z-index: 0;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            // right: 13.2rem;
            left: -2.8rem;
            height: 50%;
            // width: 23%;
            width: 100%;
            background: linear-gradient(135deg, #6E61F5 0%, #843CF6 100%);
            transform: skew(-50deg, 0deg);
            z-index: -1;

        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 2.8rem;
            height: 50%;
            width: 100%;
            background: linear-gradient(135deg, #6E61F5 0%, #843CF6 100%);
            transform: skew(48deg, 0deg);
            z-index: -1;
            // box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        }

        & span {
            font-size: 3.7rem;

            @include phones {
                font-size: 2rem;
                margin-top: 1.3rem;
            }
        }

        & p {
            text-transform: uppercase;
            font-size: 1.5rem;

            @include phones {
                font-size: 1rem;
            }
        }

        @include phones {
            width: 6.7rem;
            margin-left: 7rem;
            box-shadow: none
        }
    }

    // &__column{
    //     flex: 1;
    // }
    &__left {
        margin-right: 6.9rem;

        @include phones {
            margin-right: 0;
        }
    }

    &__group {
        margin-top: 1.6rem;
        margin-bottom: 1.5rem;

        &--right {
            margin-top: 0;

            @include phones {
                display: flex;
            }
        }

    }

    &__line {
        display: flex;

    }

    &__title {
        @include tabletsPro {
            display: none;
        }

        &--adaptive {
            display: none;

            @include tabletsPro {
                display: block;
            }
        }

        &--question {
            display: block;
            font-size: 1.8rem;
            margin-bottom: 1.6rem;

            &:nth-child(2) {
                margin-top: 2.4rem;
            }

            @include tabletsPro {
                font-size: 1.4rem;
            }

        }
    }

    &__answer {
        display: flex;
        margin-right: 5rem;
    }

    &__radio {
        appearance: none;

        &:checked+.form__radio--fake:before {
            background: $wine;
        }

        &--fake {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            border: 1px solid $dark-red;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1.4rem;

            &::before {
                content: "";
                display: block;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
            }
        }
    }

    &__input {
        &--long {
            background: #fff;
            padding: 1.7rem 11.4rem 1.7rem 1.2rem;
            border: .2rem solid #fff;
            border-radius: .5rem;
            font-size: 1.4rem;
            color: $red;

            &:focus {
                border-color: $dark-red;
                border-radius: .5rem;
                outline: none;
            }

            @include laptop {
                font-size: 1.2rem;
            }

            @include phones {
                width: 100%;
            }

        }

        &--short {
            margin-left: 1.6rem;

            background: #fff;
            padding: 1.7rem 8rem 1.7rem 1.2rem;
            border: .2rem solid #fff;
            border-radius: .5rem;
            font-size: 1.4rem;
            color: $red;

            &:focus {
                border-color: $dark-red;
                border-radius: .5rem;
                outline: none;
            }

            @include laptop {
                font-size: 1.2rem;
            }

            @include phones {
                padding-left: 2rem;
                padding-right: 2rem;
                margin-left: 0;

            }



        }


    }

    &__select {
        background: #fff;
        padding: 1.7rem 13.4rem 1.7rem 1.2rem;
        border: .2rem solid #fff;
        border-radius: .5rem;
        font-size: 1.4rem;
        background: #fff url('./img/icons/sort.svg') no-repeat right .75rem center;
        background-size: 1.6rem 1.6rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:focus {
            border-color: $dark-red;
            border-radius: .5rem;
            outline: none;
        }

        @include laptop {
            font-size: 1.2rem;
        }
    }

    &__terms {
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        margin-top: .6rem;

        @include phones {
            font-size: 1rem;
        }
    }
}

form {
    display: flex;
    align-items: flex-start;

    @include tabletsPro {
        flex-direction: column;


    }

}

.btn__form {
    font-size: 1.8rem;
    @include button;
    position: relative;
    width: 100%;

    &:hover,
    &:focus {
        background-color: $dark-red;
    }

    &::after {
        content: '';
        background: url('./img/icons/sort-form.svg') no-repeat;
        display: block;
        width: 2rem;
        height: .9rem;
        position: absolute;
        right: 2.75rem;
        top: 1.75rem;
    }
}

.full {
    @include phones {
        display: none;
    }
}

.small {
    display: none;

    @include phones {
        display: block;
    }
}

.input {
    @include phones {
        margin-left: 1rem;
    }
}

.select {
    @include phones {
        margin-top: 1rem;
        width: 100%;
    }
}