.reviews {
    padding: 7rem 0 5.3rem 0;
    position: relative;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        @include container;
    }

    &__wrapper {
        overflow: hidden;
    }

    &__title {
        font-size: 3.6rem;
        font-weight: 700;
    }



    &__list {
        display: flex;
        margin-top: 3.8rem;
        margin-bottom: 3.5rem;
        position: relative;
        @include tabletsPro{
            display: none;
        }
    }

    &__slide {
        background-color: #d8d8d8;
        border-radius: .7rem;
        padding: 2.5rem 2.5rem 1.5rem 2.4rem;
        width: 49.8rem;
        height: 21.5rem;

        &:not(:first-child) {
            margin-left: 3.3rem;
        }
    }

    &__block {
        display: flex;
        // justify-content: center;
        align-items: center;
    }

    &__avatar {
        width: 5.9rem;
        height: 5.9rem;
        border-radius: 50%;
        object-fit: cover;
    }

    &__info {
        margin-left: 2rem;
    }

    &__user {
        font-size: 1.8rem;
        font-weight: bold;
        margin-right: 12.8rem;
        margin-bottom: .9rem;
    }

    &__date {
        font-size: 1.4rem;
        color: rgba(74, 74, 74, 0.47);
        padding-bottom: 3rem;
    }

    &__review {
        font-size: 1.4rem;
        color: #4A4A4A;
        width: 93%;
        margin-top: 1.6rem;

    }

    &__buyer {
        font-family: 'ExoItalic';
        font-size: 1rem;
        color: #FF7100;
        margin-top: 1rem;
        margin-left: 37rem;
        padding-left: 1rem;
        background: url('./img/icons/success-orange.svg') no-repeat left 0;
    }

    &__more {
        display: flex;
        justify-content: center;
        font-weight: bold;
        color: $orange-text;
    }
}

.star {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: url('./img/icons/star.svg') no-repeat center;
}

.arrow {
    background-color: transparent;
    outline: none;

    &__prev {
        position: absolute;
        top: 54%;
        left: 12%;
    }

    &__next {
        position: absolute;
        transform: rotate(180deg);
        top: 54%;
        right: 12%;
    }

}